*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#banner {
    background: url('../images/banner.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 5rem 0;
}

.btn {
    background-color: #007BFF;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}

#highlights {
    padding: 2rem;
}

footer {
   
    text-align: center;
    padding: 1rem;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

footer ul li {
    margin: 0 1rem;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilo para a imagem do banner */
.igreja1-img img {
    width: 100%;
    height: auto;
    max-width: 320px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para a imagem do Evento 1 */
.event-image1 {
    width: 100%;
    height: auto;
    max-width: 320px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para a imagem do Evento 2 */
.event-image2 {
    width: 100%;
    height: auto;
    max-width: 320px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-cards {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
}

.event-card {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
}

.arrows {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.arrows button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}

.arrows button img {
    width: 30px;
    height: 30px;
}